<h2>編輯個人資料</h2>

<%= simple_form_for resource, as: resource_name, url: "/user_manage" do |f| %>
<%= f.input :email, label: "帳號(Email)", autofocus: true %>
<%= f.input :name, label: "姓名" %>
<%= f.input :nickname, label: "暱稱" %>
<%= f.input :phone, label: "聯絡電話" %>
<%= f.input :phone_memo, label: "方便聯絡時間" %>
<%= f.submit '更改個人資料' %>
<% end %>
<hr>
<h2>修改密碼</h2>
<%= simple_form_for resource, as: resource_name, url: "/user_manage" do |f| %>
  <%= f.input :current_password, label: "原密碼" %>
  <%= f.input :password, label: "新密碼" %>
  <%= f.input :password_confirmation, label: "再次輸入新密碼" %>
  <%= f.submit '更改密碼' %>
<% end %>
<hr>
<h3>移除帳戶</h3>
<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
