<div class="col-md-12">
  <div class="group" align="right">

  </div>
  <div class="noticeMessage" >
      <% if current_user and current_user.is_admin %>
      <%= link_to("新增類別", new_kind_path, class: "btn btn-primary") %>
    <% end %>
      <%= link_to("back", product_manages_path, class: "btn btn-default float-right") %>
    </div>
  <h1>Kind List </h1>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @kinds.each do |kind| %>
      <tr>
        <td width="70%"><%= kind.name %></td>
        <td>
          <% if kind.id != 1 %>
            <%= link_to  "修改", edit_kind_path(kind) %>&nbsp;
            <%= link_to "刪除", kind_path(kind), method: "delete", data:{ confirm: "確定刪除嗎?\n會同時刪除此類別下的所有產品。"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>